<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>[[${pizza.name}]]</title>
<th:block th:replace="~{frag/fragments :: bootstrap}"></th:block>
<!-- versione più intuitiva -->
</head>
<body>
	<h1>Pizza's detail</h1>
	<div>[[${pizza.name}]]</div>
	<div>[[${pizza.description}]]</div>
	<div>[[${pizza.price}]]€</div>
	<div class="row">
		<div class="col-6">
			<h3>Offerte:</h3>
			<p th:if="${pizza.offerte.size()==0}">non ci sono offerte</p>
			<div th:if="${pizza.offerte.size()>0}">
				<ul class="container">
					<li th:each="offerta : ${pizza.offerte}" class="row-cols">[[${offerta.titolo}]]
						<a th:href="@{/offerte/edit/{id}(id=${offerta.id})}"
						class="btn btn-primary">Edit</a>

						<form th:action="@{'/offerte/delete/{id}'(id=${offerta.id})}"
							method="post" style="display: inline-block">
							<button class="btn btn-danger" type="submit">Cancella</button>
						</form>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-6">
			<h3>Ingredienti:</h3>
			<p th:if="${pizza.ingredients.size()==0}">non ci sono ingredienti</p>
			<div th:if="${pizza.ingredients.size()>0}">
				<ul class="container">
					<li th:each="ingredient : ${pizza.ingredients}" class="row-cols">[[${ingredient.name}]]

						<a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}"
						class="btn btn-primary">Edit</a>

						<form
							th:action="@{'/ingredients/delete/{id}'(id=${ingredient.id})}"
							method="post" style="display: inline-block">
							<button class="btn btn-danger" type="submit">Cancella</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<img th:src="${pizza.imgPath}" />
	</div>
	<a th:href="@{./edit/{id}(id=${pizza.id})}" class="btn btn-primary">Edit</a>

	<button th:data-pizzaId="${pizza.id}" onclick="deletePizza(this)">Delete</button>

	<a th:href="@{|/offerte/create?pizzaId=${pizza.id}|}" class="btn">Crea
		nuova offerta</a>

	<a th:href="@{/pizze}" class="btn">Vedi lista pizze</a>

</body>


<script>
  function deletePizza(button) {
	const id = button.getAttribute('data-pizzaId');
    if (confirm("Are you sure you want to delete this pizza?")) {
      fetch( "deletejs/" + id, {
        method: 'DELETE'
      })
      .then(response => {
    	  if (response.ok) {
//     	        window.location.href = '../pizze';
    		  window.location.pathname = '/pizze';
    	      } else {
    	    	 console.log(response)
    	        alert('Error deleting pizza');
    	      }
      });
    }
  }
</script>
</html>