<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>[[${pizza.name}]]</title>
<th:block th:replace="~{frag/fragments :: bootstrap}"></th:block> <!-- versione più intuitiva -->
</head>
<body>
<h1>Pizza's detail</h1>
<div>[[${pizza.name}]]</div>
<div>[[${pizza.description}]]</div>
<div>[[${pizza.price}]]€</div>
<div><img th:src="${pizza.imgPath}"/></div>
<!--/*a th:href="@{/pizze/{id}/edit(id=${pizza.id})}" class="btn btn-primary">Edit</a*/-->

 <button th:data-pizzaId="${pizza.id}" onclick="deletePizza(this)">Delete</button>
<script th:inline="javascript">
  function deletePizza(button) {
	const id = button.getAttribute('data-pizzaId');
    if (confirm("Are you sure you want to delete this pizza?")) {
      fetch( id, {
        method: 'DELETE'
      })
      .then(response => {
          window.location.href = '../pizze';
      });
    }
  }
</script>

<a th:href="@{/pizze}" class="btn">Vedi lista pizze</a>
<!--/* div>ingredienti: [[${pizza.description}]]</div>
<div>prezzo: [[${pizza.price}]]€</div> */-->
</body>
</html>