<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Aggiorna Ingrediente</title>
<th:block th:replace="~{frag/fragments :: bootstrap}"></th:block>
<!-- versione più intuitiva -->
</head>
<body>
	<div class="container">
		<h1>Aggiorna Ingrediente</h1>
		<hr/>
		<form id="ingredient-form" th:object="${ingredient}"
			th:action="@{/ingredients/update/{id}(id=${ingredient.id})}" method="post">
			<ul>
				<li th:each="err : ${#fields.allErrors()}" th:text="${err}"
					class="text-danger"></li>
			</ul>
			<div class="row">
				<div class="col-8">
					<label for="name" class="form-label">Nome:</label> <input
						type="text" class="form-control" id="name" th:field="*{name}"
						th:errorClass="is-invalid" />
					<div th:if="${#fields.hasErrors('name')}"
						class="invalid-feedback">
						<ul>
							<li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
						</ul>
					</div>
					
					<input type="hidden" name="referer" th:value="${referer}">
					<button type="submit" class="btn btn-primary">Salva</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>